
	#container .main{ margin-right:200px;}

	@media
	only screen and (max-width : 800px)
	{
		#wrapper .wrapper-in{ width:auto;  min-width:500px;}
		#header{min-width:500px;};
		#container{ background:#fff}
		#container .sidebar{width:0px; display:none;}
		#container .main{ margin-right:0px; background:white; min-width:500px; }
		#xwb_weibo_list {padding:10px 2px 0px 0px}
		.feed-list .feed-tit{ padding-bottom:0px;font-size:14px;}
		.feed-list .feed-tit h3{ text-indent:0px; font-size:14px;}
		.feed-list .feed-filter{ float:right; font-size:14px;}
	}

	@media 
	only screen and (min-width : 800px)
	{
		#wrapper .wrapper-in{width:800px; max-width: 800px;}
		#container{ background:#fff url(bgimg/user_y_bg.png} 
		#container .sidebar{float:right; _margin-left:-3px; width:200px; display:block;}
		#container .main{ margin-right:200px; padding-bottom:10px; _margin-right:197px; _zoom:1;}
¡¡¡¡}
